<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cardinal.tech.bzfx.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.cardinal.tech.bzfx.bean.dbo.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="role_id" jdbcType="INTEGER" property="role_id"/>
        <result column="c_time" jdbcType="TIMESTAMP" property="c_time"/>
        <result column="m_time" jdbcType="TIMESTAMP" property="m_time"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, username, password, role_id, c_time, m_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findByUsername" resultType="com.cardinal.tech.bzfx.bean.dbo.User">
        select
        <include refid="Base_Column_List"/>
        from user
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="queryPageUserList" resultType="com.cardinal.tech.bzfx.bean.dbo.User">
        select
        <include refid="Base_Column_List"/>
        from user
        <trim prefix="where" prefixOverrides="and|or">
            <if test="obj.username!=null">
                and username = #{obj.username,jdbcType=VARCHAR}
            </if>
            <if test="obj.id!=null">
                and id = #{obj.id,jdbcType=INTEGER}
            </if>
        </trim>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.cardinal.tech.bzfx.bean.dbo.User">
        insert into user (id, username, password,
                          role_id, c_time, m_time)
        values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{role_id,jdbcType=INTEGER}, #{c_time,jdbcType=TIMESTAMP}, #{m_time,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.cardinal.tech.bzfx.bean.dbo.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="role_id != null">
                role_id,
            </if>
            <if test="c_time != null">
                c_time,
            </if>
            <if test="m_time != null">
                m_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="role_id != null">
                #{role_id,jdbcType=INTEGER},
            </if>
            <if test="c_time != null">
                #{c_time,jdbcType=TIMESTAMP},
            </if>
            <if test="m_time != null">
                #{m_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cardinal.tech.bzfx.bean.dbo.User">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="role_id != null">
                role_id = #{role_id,jdbcType=INTEGER},
            </if>
            <if test="c_time != null">
                c_time = #{c_time,jdbcType=TIMESTAMP},
            </if>
            <if test="m_time != null">
                m_time = #{m_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cardinal.tech.bzfx.bean.dbo.User">
        update user
        set username = #{username,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            role_id  = #{role_id,jdbcType=INTEGER},
            c_time   = #{c_time,jdbcType=TIMESTAMP},
            m_time   = #{m_time,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>